@model GigHub.ViewModels.GigViewModel
    
    <ul class="gigs">

        @foreach (var gig in Model.GigsList)
        {
            
            <li>

                <div class="date">
                    <div class="month">
                        @gig.DateTime.ToString("MMM")
                    </div>
                    <div class="day">
                        @gig.DateTime.ToString("d ")
                    </div>
                </div>

                <div class="details">
                    <span class="artist">

                        @gig.Artist.Name

                    </span>
                    <span class="genre">

                        @gig.Genre.Name

                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-default btn-xs pull-right js-toggle-attendance" data-gig-id="@gig.Id">
                        Going?
                    </button>
                </div>
            </li>
        }
    </ul>
<script>
    $(document).ready(function () {
        debugger;
        $(".js-toggle-attendance").click(function (e) {
            debugger;
            var button = $(e.target);
            $.post("/api/Attendances", { gigId : button.attr("data-gig-id") })
                .done(function () {
                    
                    button
                        .removeClass("btn-default")
                        .addClass("btn-info")
                        .text(" Going ");
                })
                .fail(function () {

                    alert(" Something Going Wrong !!! ");
                });
        });
    }); 

</script>
